.dropdown-hover:hover .dropdown-menu-hover {
  display: block !important;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.dropdown-item {
  font-weight: 500;
  color: #000;
  font-size: 14px;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: #f8f9fa;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-item:hover {
  background-color: #e2e6ea;
  color: #0056b3;
}

.dropdown-item:focus {
  outline: none;
  background-color: #d1d8de;
}

.no-caret::after {
  display: none;
}

/* Rlogic */
/* .dropdown-item  {
  display: none !important;
}

.dropdown-item.show {
  display: block !important;
} */

.dropdown-item:focus {
  outline: none;
  background-color: #d1d8de;
}

.no-caret::after {
  display: none;
}

/* Custom CSS for NavDropdown */
.no-caret.show .dropdown-menu {
  display: block;
}

.no-caret .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

.navbar-custom {
  width: 100%;
  z-index: 1001;
  background-color: #fff;
  padding: 0.1rem 0;
  height: 5rem;
  top: 0;
  border-bottom: 5px solid #efbcbc;
  border-top: 5px solid #d65757;
  transition: top 0.8s, opacity 0.3s;
  opacity: 1;
}

.navbar-custom.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 1;
}

.navbar-custom:not(.sticky) {
  opacity: 0;
  top: -5rem; /* Adjust this value to hide the navbar completely */
}

.navbar-logo {
  width: 210px;
  margin: 0px 10px;
}