.Air-border {
    border-top-right-radius: 180px;
}

.Ap-h{
    font-family: Roboto;
    font-size: 55px;
    font-weight: 700;
    line-height: 64.45px;
    text-align: center;
    

}

.A-P{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 35.16px;
    text-align: center;
    

}

.A-P1{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 35.16px;
    text-align: center;
    

}

